/* Navigation Bar  Style */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f8;
}

header {
    background-color: #1A0B2E;
    padding: 24px 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.subscribe-btn {
    background: linear-gradient(to right, #ffdd00b4, #b8059e);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.subscribe-btn:hover {
    transform: scale(1.05);
}


/* Hero Section Styles */

.hero-section {
    margin-top: 80px;
    padding: 120px 0;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-content {
    color: white;
}

.mic-wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 0 auto 30px;
}

.round-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mic-img {
    position: absolute;
    width: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* NEW badge */

.new-badge {
    position: absolute;
    top: 10px;
    right: -10px;
    background: #2dff8b;
    color: #000;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: bold;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 16px;
    max-width: 520px;
    margin: 0 auto 30px;
}

/* buttons */

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn {
    padding: 14px 26px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn.spotify {
    background: linear-gradient(to right,  #ffdd00b4,  #b8059e);
    color: #ffffff;
}

.btn.subscribe {
    background: transparent;
    border: 2px solid #5ff9c6;
    color: #00FF88;
}

/* About Section Styles */

.about-podcast {
  background:#1A0B2E;
  padding: 80px 20px;
  color: #fff;
  text-align: center;
}

.about-podcast .container {
  max-width: 1400px;
  margin: auto;
}

.about-podcast h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.about-podcast .desc {
  max-width: 700px;
  margin: 0 auto 15px;
  color: #ffffff;
  line-height: 1.7;
  font-size: 16px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
}

.stat-box h3 {
  font-size: 36px;
  color: #00FF88;
  margin-bottom: 8px;
}

.stat-box span {
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}




